* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #0b56a6;
  --milk: #f1f1f1;
  --grey: #4c4c4c;
  --black: #000000;
}
html,
body {
  font-family: sans-serif;
}
.center-align {
  text-align: center;
}
a {
  text-decoration: none;
}
i {
  cursor: pointer;
}

#navbar,
.toprightbar a {
  background: var(--blue);
}

.navMenu a,
.navMenu a:hover,
.toprightbar a {
  color: var(--milk);
}

#navbar {
  width: 200px;
  height: 100%;
  position: fixed;
  left: -200px;
  transition: all 200ms linear;
  z-index: 999;
}

#navbar.active {
  left: 0px;
}

.nav-social {
  display: inline-flex;
  margin: 100px auto auto 12px;
}

.nav-social a {
  margin: auto 5px;
}

.nav-social .fa-github,
.nav-social .fa-square-x-twitter,
.nav-social .fa-linkedin,
.nav-social .fa-youtube {
  color: var(--milk);
  font-size: 30px;
}

.nav-social .fa-github:hover,
.nav-social .fa-square-x-twitter:hover,
.nav-social .fa-linkedin:hover,
.nav-social .fa-youtube:hover {
  color: var(--grey);
}

.navMenu {
  margin-top: 50px;
}

.navMenu a {
  display: block;
  text-decoration: none;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid var(--grey);
  letter-spacing: 3px;
}

.navMenu a:hover {
  background: var(--grey);
}

.toggle-navbar {
  cursor: pointer;
  position: absolute;
  left: 195px;
  top: 5px;
}

.toggle-navbar .fa-arrow-right {
  font-size: 45px;
  color: var(--blue);
}

.topbar {
  position: sticky;
  top: 0;
  background: var(--milk);
  display: flex;
  padding: 10px 0px;
  z-index: 10;
}

.topbar img {
  width: 30px;
  height: 30px;
}

.topleftbar {
  margin: auto 0px auto auto;
}

.Logo {
  margin: auto;
}

.toprightbar {
  margin: auto 10px auto auto;
}

.toprightbar a {
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.toprightbar a:hover {
  background: var(--grey);
  color: var(--milk);
}

.carousel-inner img {
  height: 500px;
}

.website-features {
  margin: 50px 0 0 0;
}

.features,
.vector-item,
.vector-item1,
.team-section,
.footer,
.footer-social {
  display: flex;
}

.features {
  padding: 40px 60px;
}

.feature-item {
  margin: 0 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px var(--grey);
}

.feature-item i {
  font-size: 30px;
  color: var(--blue);
}

.feature-item h4,
p {
  color: var(--grey);
}

.vector-section {
  margin: 50px 0 0 0;
}

.vector-item {
  padding: 40px;
  margin: 30px 0 0 0;
}

.vector-item .vector-image {
  margin-left: 20px;
}

.vector-item img {
  width: 600px;
  height: 500px;
}

.vector-item .vector-lines {
  padding: 0 0 0 40px;
  line-height: 40px;
}

.vector-item .vector-lines p {
  text-align: left;
}

.vector-item1 {
  padding: 40px;
  margin: 30px 0 0 0;
}

.vector-item1 .vector-image1 {
  margin-left: 40px;
}

.vector-item1 img {
  width: 600px;
  height: 400px;
}

.vector-item1 .vector-lines1 {
  padding: 0 0 0 40px;
  line-height: 40px;
}

.our-team {
  margin-top: 30px;
}

.team-item {
  margin: 20px 20px auto 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px var(--grey);
}

.team-item h5,
h6,
p {
  color: var(--grey);
}

.team-item .fa-user-circle {
  font-size: 40px;
  color: var(--blue);
}

.team-item .fa-github,
.fa-square-x-twitter,
.fa-linkedin,
.fa-linkedin,
.fa-youtube {
  color: var(--blue);
  font-size: 25px;
  margin: auto 5px;
}

.footer {
  background: var(--black);
  margin: 80px auto 0 auto;
  padding: 50px;
}

.footer1,
.footer2,
.footer3 {
  margin: auto 140px;
  width: 100%;
}

.footer1 h4,
.footer2 h4,
.footer3 h4 {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  letter-spacing: 7px;
}

.footer1 a,
.footer2 a,
.footer3 i {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  color: var(--milk);
}

.footer-social a {
  margin: 30px auto;
  text-decoration: none;
}

.footer-social .fa-github,
.fa-square-x-twitter,
.fa-linkedin,
.fa-youtube {
  font-size: 25px;
}

center {
  padding: 0 0 10px 0;
  bottom: 0;
  color: var(--grey);
  font-size: 16px;
}

.login-form {
  margin: 60px auto 100px auto;
}
.login-form img {
  height: 50px;
  width: 50px;
}
.login-form h5 {
  color: var(--blue);
  font-size: 25px;
}
.login-form form a {
  text-decoration: none;
}
.login-form form input {
  padding: 10px;
  border: 1px solid var(--grey);
}
.login-form form input,
form button {
  display: block;
  margin: 10px auto;
  width: 25%;
  height: 40px;
  border-radius: 10px;
}
.login-form form button {
  background: var(--blue);
  color: var(--milk);
  border: none;
}
.login-form form button:hover {
  background: var(--grey);
  color: var(--milk);
}
.login-form .login-question {
  display: flex;
  margin-top: 10px;
}
.login-form .login-question p {
  margin: auto 5px auto auto;
}
.login-form .login-question a {
  margin: auto auto auto 5px;
  text-decoration: none;
}
.login-form .login-question a:hover {
  color: var(--grey);
}

@media screen and (max-width: 600px) {
  .topbar {
    padding: 5px 0px;
  }

  .toprightbar a {
    padding: 5px 10px;
    font-size: 14px;
  }

  .toggle-navbar .fa-arrow-right {
    font-size: 30px;
  }

  .carousel-inner img {
    height: 300px;
  }

  .features,
  .vector-item,
  .vector-item1,
  .team-section,
  .footer {
    display: block;
  }

  .feature-item {
    margin: 40px;
    padding: 5px;
  }

  .vector-item img {
    width: 300px;
    height: 380px;
  }

  .vector-item .vector-image {
    margin-left: 10px;
  }

  .vector-item .vector-lines {
    padding: 20px 0 0 0;
  }

  .vector-item .vector-lines p,
  .vector-lines1 p {
    text-align: justify;
  }

  .vector-item1 img {
    width: 330px;
    height: 330px;
  }

  .vector-item1 .vector-image1 {
    margin: 20px auto auto auto;
  }

  .vector-item1 .vector-lines1 {
    padding: 20px 0 0 0;
    margin: auto;
  }

  .team-item {
    margin: 30px 50px auto 50px;
    padding: 20px;
  }

  .footer1,
  .footer2,
  .footer3 {
    margin: auto auto 30px auto;
  }
  .login-form form input,
  form button {
    width: 50%;
  }
}